.detail{
    margin: 80px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
.txt{
    color: aliceblue;
    margin-left: 10px;
}
img{
    width: auto;
    height: auto;
}
.h1{
    font-size: 3rem;
}